# --- Core Backend ---
fastapi==0.115.0
uvicorn[standard]==0.30.1

# --- Database + ORM ---
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
alembic==1.13.2

# --- Async + Caching + Background Tasks ---
celery==5.3.6
redis==5.0.7

# --- Data Validation & Auth ---

pydantic[email]==2.8.2
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1

# --- Logging & Utilities ---
structlog==24.2.0
loguru==0.7.2

# # --- Testing & Dev Tools (Optional) ---
# pytest==8.3.2
# httpx==0.27.0
# black==24.8.0
# flake8==7.1.1


